.recipe-card {
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 16px;
  transition: transform 0.2s;
  text-align: center;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-title-link {
  text-decoration: none;
}

.recipe-title {
  margin: 10px 0;
  color: #d62828;
  transition: color 0.3s;
}

.recipe-title-link:hover .recipe-title {
  color: #9d0208;
}